@import "assets/styles/fonts.css";

html {
  font-family: yekanbakh, system-ui, sans-serif;
}
/* body{
  font-family: yekanbakh, system-ui, sans-serif;
}
.MuiTypography-root{
  font-family: yekanbakh, system-ui, sans-serif;
} */
*{
  margin: 0;
  padding: 0;
  
  a {
    text-decoration:none;
    color:""
    /* color:black; */
  }
}

/* body{
  background-color: none;
} */
/* .css-12zknbw-MuiTableCell-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(81, 81, 81, 1); 
  text-align: left;
  padding: 16px;
   color: #fff;
}  */
